# Flask Config
FLASK_SECRET_KEY=history_voyage_secret_key_13579
FLASK_ENV=development

# OpenAI API Key (Bắt buộc để chat với vĩ nhân)
OPENAI_API_KEY=your_api_key_here

# FPT.AI hoặc Google Cloud TTS
FPT_API_KEY=
GOOGLE_TTS_API_KEY=

# D-ID API Key
DID_API_KEY=
DID_API_USERNAME=
DID_API_PASSWORD=
